<div class="inner k-compare">
  <div class="col a"><div class="h">{{ scene.slots.a.h }}</div><div class="d">{{ scene.slots.a.d }}</div></div>
  <div class="pivot">{{ scene.slots.pivot or 'vs' }}</div>
  <div class="col b"><div class="h">{{ scene.slots.b.h }}</div><div class="d">{{ scene.slots.b.d }}</div></div>
</div>
