<div class="inner k-section">
  {%- if scene.slots.index %}<div class="s-index">{{ scene.slots.index }}</div>{% endif %}
  <div class="s-title">{{ scene.slots.title or scene.slots.headline }}</div>
</div>
