<div class="inner k-statement v-{{ scene.slots.variant or 'hero' }}">
  {%- set hl = scene.slots.headline or seg.text %}
  {%- set kc = kinetic_chunks(hl) %}
  {%- if scene.slots.eyebrow %}<div class="eyebrow">{{ scene.slots.eyebrow }}</div>{% endif %}
  <span class="top-rule" aria-hidden="true"></span>
  {%- set cont = ends_open(seg.text) %}
  {%- set hpx = headline_px(hl, base=72 if cont else 116, min_px=52, ref_chars=14, max_lines=2) %}
  {%- if kc %}
  <div class="headline kinetic{{ ' cont' if cont }}" style="font-size:calc({{ hpx }}px * var(--hl-scale,1))">{%- for c in kc %}<span class="ch"><i>{{ c }}</i></span>{%- endfor %}</div>
  {%- else %}
  <div class="headline{{ ' cont' if cont }}" style="font-size:calc({{ hpx }}px * var(--hl-scale,1))">{{ hl }}</div>
  {%- endif %}
  {%- if scene.slots.sub %}<div class="sub">{{ scene.slots.sub }}</div>{% endif %}
</div>
